<div class="text-center">
  <h2>{{city}}</h2>
  <p>Population: {{population}}</p>
  <p>Lanmarks: {{landmarks}}</p>
  <p>Entertainment: {{entertainment}}</p>
  <p>Excursion Type: {{excursion_type}}</p>
  <p>Travel Season: {{travel_time}}</p>
  <img src="/images/{{image1}}" alt="Auckland">
  <img src="/images/{{image2}}" alt="Auckland">
  <img src="/images/{{image3}}" alt="Auckland">

  <p>
    <button class="btn btn-primary">Add City to Profile</button>
  </p>
</div>
