<body>

  <div class="text-center">
    <h2 class="cityname">{{city}}</h2>
    <p class="cityDetails">Population: {{population}}</p>
    <p class="cityDetails">Landmarks: {{landmarks}}</p>
    <p class="cityDetails">Entertainment: {{entertainment}}</p>
    <p class="cityDetails">Excursion Type: {{excursion_type}}</p>
    <p class="cityDetails">Travel Season: {{travel_time}}</p>
    <img src="/images/{{city}}/{{image1}}" alt="Auckland Sky Tower"><br>
    <img src="/images/{{city}}/{{image2}}" alt="Auckland Town Hall"><br>
    <img src="/images/{{city}}/{{image3}}" alt="Auckland Mount Eden"><br>
    <p>
      <button class="btn btn-primary">Add City to Profile</button>
    </p>
  </div>
</body>