
<div class="text-center">
  <h2 class="cityName">{{city}}</h2>
  <p class="cityDetails">Population: {{population}}</p>
  <p class="cityDetails">Landmarks: {{landmarks}}</p>
  <p class="cityDetails">Entertainment: {{entertainment}}</p>
  <p class="cityDetails">Excursion Type: {{excursion_type}}</p>
  <p class="cityDetails">Travel Season: {{travel_time}}</p>
  <img src="/images/{{city}}/{{image1}}" alt="{{image1Alt}}"><br>
