<div class="text-center">
  <h2>{{city}}</h2>
  <p>Population: {{population}}</p>
  <p>Landmarks: {{landmarks}}</p>
  <p>Entertainment: {{entertainment}}</p>
  <p>Excursion Type: {{excursion_type}}</p>
  <p>Travel Season: {{travel_time}}</p>
  <img src="/images/{{city}}/{{image1}}" alt="{{image1Alt}}"><br>
  <p>
    <button class="btn btn-primary">Add City to Profile</button>
  </p>
</div>
