<!-- Loop over each object in the cities array -->
{{#each cities as |city| }}
<div class="row mb-4 city">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/city/id/{{city.id}}">{{city.city}}</a>
    </h2>
    {{!-- <p>
      <span for="img" aria-label="money">💲</span>
      
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount city.needed_funding}}</span>
      needed!
    </p> --}}
    <p>Created by {{city.user.name}} on {{format_date city.createdAt}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{city.description}}
    </p>
  </div>
</div>
{{/each}}
