<div class="text-center" id="journalEntry">
  <h2>{{city}}</h2>
  <h1 class="journalText" id="journalTitle">
    My Travel Journal:
  </h1><br><br>
  <p class="journalText">Trip Name: {{name}}</p>
  <p class="journalText">Required Savings: ${{needed_funding}}</p>
  <p class="journalText">Planned Adventures: {{description}}</p>
  <div id="t" style="display: none">
  <img class="someClass" src="{{img_url}}">
  </div>
  
</div>