<div class="text-center">
  <h2>{{city}}</h2>
  <p>Trip Name: {{name}}</p>
  <p>how much: {{needed_funding}}</p>
  <p>Adventures: {{description}}</p>
  <div id="t" style="display: none">
  <img class="someClass" src="{{img_url}}">
  </div>
  <p>
    <button class="btn btn-primary">Add City to Profile</button>
  </p>
</div>